@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap");

/* variables de color  */

:root {
  --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
  --color-primary: #3b1e08;
  --boton-padding: 20px 40px;
  --fuentePrincipal: "Staatliches", cursive;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #ffefd5;
}


.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 0;
  max-width: 1200px;
}

.contenido {
  padding: 0;
}

.subtitle {
  color: var(--color-primary);
  font-size: 2.5rem;
  margin-bottom: 35px;
}

/* header  */

.header {
  height: 55vh;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  /*Escala la imagen al mayor tamaño posible sin estirarla*/
  background-size: cover;
  /*Posicion de la imagen fija*/
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.header .container {
  padding: 0;
}
.nav- {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.logo {
  font-size: 40px;
  color: white;
  margin: 0;
}
.logo__nombre {
  font-weight: 400;
  margin-bottom: 20px;
}
.logo__bold {
  font-weight: 700;
}

.nav {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  align-items: center;
  font-weight: 700;
  margin-top: 10px;
}

.nav--footer {
  font-weight: 300;
  justify-content: flex-start;
}

.nav__items {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 15px;
  /*Hereda de la funte*/
  font-weight: inherit;
}

.nav__items--cta {
  border: 1px solid white;
}

.nav__items--footer {
  padding: 10px;
}

.header__container {
  display: flex;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.header__text {
  width: 80%;
  margin-bottom: 50px;
}

.header__title {
  font-size: 2rem;
}

.header__subtitle {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  /*Altura y ancho*/
  margin: 15px 0;
}

.header__cta {
  display: inline-block;
  background: white;
  padding: var(--boton-padding);
  color: var(--color-primary);
  text-decoration: none;
  border-radius: 40px;
}

.header__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

/* Cuerpo main pagina  */

.main {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 0;
  max-width: 1200px;
}

/* GRAFICOS */

.facturas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 8rem;
  column-gap: 10px;
}

.facturas__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px 25px;
  width: 220px;
}

.facturas__item--titulo {
  grid-column: 2/3;
  margin: 3px 0;
  margin-right: 10px;
}

.facturas__item--valor {
  grid-column: 2/3;
  margin: 3px 0;
}

.ingresos {
  background: Cyan;
}

.gastos {
  background: OrangeRed;
}

.beneficios {
  background: SpringGreen;
}

.cantidad__ventas {
  background: gold;
}

.fas {
  grid-column: 1/2;
  grid-row: 1/3;
  margin: 8px;
  color: white;
  font-size: 40px;
  padding: 2px 2px;
}

.productos {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 18rem 14rem;
  gap: 10px;
}

.productos__vendidos {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 400px;
  padding: 20px;
  border: solid #3b1e08 10px;
  background-color: white;
  border-radius: 20px;
}

.productos__vendidos--grafico {
  /* margin-left: 120px; */
  position: relative;
  height: 50vh;
  width: 50vw;
}

.productos__destacado {
  padding-top: 20px;
  text-align: center;
  margin-top: 40px;
  margin-left: 40px;
  background: #3b1e08;
  height: 17rem;
  width: 20rem;
  border-radius: 20%;
  padding-bottom: 20px;
}

.productos__destacado--img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid white 8px;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: top;
}

.productos__destacado--texto {
  background: white;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 20%;
}

.productos__destacado--titulo {
  padding-top: 10px;
  color: black;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.ciudad {
  width: 98%;
}

.productos__destacado--tipo {
  color: chocolate;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}

.ventas {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 18rem 18rem;
  gap: 10px;
}

.ventas__totales {
  grid-column: 2/3;
  grid-row: 1/2;
  height: 400px;
  padding: 20px;
  border: solid #3b1e08 10px;
  background-color: white;
  border-radius: 20px;
}

.ventas__pago {
  display: flex;
  grid-column: 1/2;
  grid-row: 1/2;
  height: 310px;
  width: 300px;
  margin-top: 60px;
  padding-left: 8px;
  padding-top: 8px;
  background-color: #3b1e08;
  border-radius: 20%;
  justify-content: center;
}

.ventas__totales--grafico {
  /* margin-left: 120px; */
  position: relative;
  height: 50vh;
  width: 50vw;
}

.ventas__pago--grafico {
  /* margin-left: 120px; */
  display: flex;
  position: relative;
  padding: 10px;
  height: 35vh;
  width: 18vw;
  /* margin-left: 60px;
    margin-top: 60px; */
  /* background-color: Wheat;
    border-radius: 20%; */
  margin-left: 0;
  align-items: center;
  justify-content: center;
}

/* FOOTER */
.footer {
  background: var(--color-primary);
}

.footer__grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  align-items: center;
}

.footer__title {
  font-weight: 400;
  color: white;
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.footer__icons {
  display: flex;
  justify-content: space-evenly;
}

.footer__container-icons {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: white;
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
}

.footer__icon {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.fab.footer__icon {
  line-height: 60px;
}

/* Media query para 800px */

@media screen and (max-width: 800px) {
  :root {
    --boton-padding: 18px 40px;
  }

  .nav {
    justify-content: space-around;
  }

  .nav__items--cta {
    border: none;
  }

  .nav__items {
    font-weight: 400;
    border-bottom: 1px solid white;
    margin-right: 0;
  }

  .nav__items--footer {
    border: none;
  }

  .header__text {
    width: 100%;
    margin-bottom: 80px;
  }

  .header__title {
    font-size: 2.5rem;
  }

  .header__subtitle {
    font-size: 1.5rem;
  }

  .header {
    height: 62vh;
  }

  .facturas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }

  .facturas__item {
    margin-bottom: 10px;
  }

  .productos {
    margin-top: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 18rem 18rem 4rem;
  }

  .productos__vendidos {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 200px;
    width: auto;
    padding: auto;
    justify-self: center;
  }

  .productos__destacado {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
  }

  .ventas {
    grid-template-columns: 1fr;
    grid-template-rows: 18rem 18rem 14rem;
  }

  .ventas__totales {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 200px;
    width: auto;
    margin-top: 160px;
    margin-left: 60px;
    justify-self: center;
  }

  .ventas__pago {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    padding: 8px;
    margin-left: 43px;
  }

  .ventas__pago--grafico {
    height: 35vh;
    width: 35vw;
    padding-bottom: 50px;
  }

  .footer__grid {
    grid-template-columns: 1fr;
  }

  .footer__contact {
    grid-row: 1/2;
  }
}

/* Media query para 500px */

@media screen and (max-width: 500px) {
  :root {
    --boton-padding: 18px 35px;
  }

  .subtitle {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .nav- {
    flex-direction: column;
  }

  .logo__nombre {
    text-align: center;
  }

  .header__cta {
    width: 80%;
    text-align: center;
  }
  .nav__items {
    padding: 5px;
    border: 0;
  }

  .header__container {
    justify-content: center;
  }

  .header__texts {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 80px;
  }

  .header__title {
    font-size: 2rem;
  }

  .header__subtitle {
    text-align: center;
    font-size: 2rem;
  }

  .header {
    height: 65vh;
  }

  .facturas {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
  }

  .facturas__item {
    margin-bottom: 10px;
  }

  .productos {
    margin-top: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 12rem 18rem 4rem;
  }

  .productos__vendidos {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 120px;
    width: auto;
    padding: auto;
    justify-self: center;
    align-self: center;
  }

  .productos__destacado {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    margin-left: 0;
  }

  .ventas {
    grid-template-columns: 1fr;
    grid-template-rows: 18rem 18rem 8rem;
  }

  .ventas__totales {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 120px;
    width: auto;
    margin-top: 160px;
    margin-left: 0;
    justify-self: center;
  }

  .ventas__pago {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    padding: 10px;
    margin-left: 0;
  }

  .ventas__pago--grafico {
    height: 35vh;
    width: 55vw;
  }

  .header__texts {
    margin-top: 0;
  }
  .grid {
    display: block !important;
  }
  .producto {
    width: 65% !important;
    margin: 15px auto !important;
  }
  input:not([type="submit"]),
  textarea,
  select {
    width: 92% !important;
  }
  .width {
    width: 93% !important;
  }
  .width-login {
    width: 93% !important;
  }
}

/* Productos  */
a {
  outline: none;
  text-decoration: none;
}
svg {
  width: 100%;
}
.btn-producto {
  padding: 15px;
  background-color: #49260b;
  font-size: 20px;
  width: 100%;
  margin: 0 auto;
  border-radius: 25px;
}
.producto__nombre {
  font-size: 30px;
  color: #fff;
}
.prodcuto__precio {
  font-size: 28px;
  color: #ffce00;
}

.producto__nombre,
.prodcuto__precio {
  font-family: var(--fuentePrincipal);
  margin: 0;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 20px;
}

/* sub total */
.total {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.total_pago {
  font-family: var(--fuenteHeading);
  padding: 1rem 3rem;
  text-align: center;
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
  background-color: #3b1e08;
  border-radius: 10px;
  display: inline-block;
}
.boton {
  font-family: var(--fuenteHeading);
  color: white;
  text-align: center;
  padding: 1rem 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  background-color: #3b1e08;
  border-radius: 10px;
}

/* FORMULARIO */

.section{
  display: inline-block;
}

legend {
  font-size: 2rem;
  color: grey;
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}
fieldset {
  margin-bottom: 1rem;
}

input:not([type="submit"]),
textarea,
select {
  padding: 1rem;
  display: block;
  width: 95%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

/*FORMULARIO PAGO*/

.total_medio-pago {
  display: flex;
}

.width {
  width: 97%;
}
.width-login {
  width: 50%;
}

.tarjeta {
  margin-left: 5px;
}

/* RESUMEN CARRITO */

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
th {
  text-align: center;

}
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}
.botonsum {
background-color: green;
padding: 0px 10px;
font-size: 2rem;
}
.botonres {
background-color: red;
padding: 0px 10px;
font-size: 2rem;
}
.botonvaciar {
  padding: 5px 10px !important;
  
}
td{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.img-item{
width: auto;

}